img{
    width: 25px;
    height: 20px;
}
h2{
    background-color: rgba(49, 172, 0, 0.192);

}

.seta{
    height: 25px;
    width: 25px;

}

.Contato{
    width: 15px;
    height: 15px;
}
.sobre{
    width: 15px;
    height: 15px;
}
